{% extends '@email/default/notification/body.html.twig' %}
{% block content %}
  Demandeur : {{ leaveRequest.userName }}<br />
  <p> Demande de congé : du
      {{ leaveRequest.startDate | date('d/m/Y') }} au {{ leaveRequest.endDate | date('d/m/Y') }}
  </p>
  <p> Raison : {{ leaveRequest.reason }} </p>
{% endblock %}
{% block action %}
  <spacer size="16"></spacer>
  <button href="{{ url('review_leave_request', { id: leaveRequest.id }) }}">Accept</button>
  <button href="{{ url('review_leave_request', { id: leaveRequest.id, reject: true }) }}">Reject</button>
{% endblock %}